*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    text-align: center;
}
footer{
    text-align: start;
    transition: all 1.5s;

}

.detailsContainer{
    width: 100%;
    margin-top:-10%;
    background-color: rgba(0,0,0,0.3);
    z-index: -3;
    background-image: url(../images/graphics/laptop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transition: all 1.5s;
}
.aboutContent:before{
    opacity: 0.3;
}
.aboutEvent{
    display:flex;
    position: relative;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 35% 5% 10% 5%;
    height: 600px;
    transition: all 1.5s;
    
}
.aboutContent{
    opacity: 1;
    flex-basis: 50%;
    text-align: start;
    z-index: 5;
    transition: all 1.5s;
}
.eventImage{
    flex-basis: 40%;
    z-index: 5;
    height: 250px;
    background-image: url('../images/webgators.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    margin-left: 2%;
    transition: all 1.5s;

}
h1{
    z-index:5;
    transition: all 1.5s;

}
.overlay{
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(255,255,255,0.4);
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 1.5s;

}
.prize{
    margin-bottom: 10%;
}
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top:10%;
    z-index: -3;
    height: 250px;
    background-image: url(../images/graphics/contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transition: all 1.5s;

    /* background-position:start; */
}
.phoneOverlay{
    position: absolute;
    width: 100%;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.7);

}
.btnDiv{
    display:flex;
    justify-content: center;
    flex-basis: 30%;
    z-index: 5;
}
.phone{
    flex-basis: 70%;
    z-index:5;
    text-shadow: 2px 2px 10px rgb(8, 129, 129);
}
.section__title{
    margin-top:5%;
}


/* =====================REGISTER CSS========================= */

.btn,
.btn2 {
    width: 100px;
    height: 30px;
    font-size: 18px;
    text-align: center;
    color: rgba(255,255,255,0.9);
    border-radius: 50px;
    background: linear-gradient(-45deg, #ffa63d, #ff3d77, #338aff, #3cf0c5);
    background-size: 600%;
    -webkit-animation: anime 16s linear infinite;
            animation: anime 16s linear infinite;
  }
.btn2 {
    position: absolute;
    margin-top: -70px;
    z-index: -1;
    filter: blur(30px);
    opacity: 0.8;
  }
  @-webkit-keyframes anime {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes anime {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  

  /* =============================MEDIA QUERIES========================================= */

  @media screen and (max-width: 900px){
    .eventImage{
        margin-bottom: 3%;
        flex-basis: 40%;
        height:300px;
        margin-left:0%
    }
    .aboutEvent{
        padding: 25% 5% 10% 5%;
        justify-content: flex-start;
    }
  
    .aboutContent{
        opacity: 1;
        flex-basis: 60%;
        text-align: start;
        z-index: 5;
    }
    body{
        margin: 0 ;
    }
    .rules{
        margin: 0 10%;
    }
    .phone{
        flex-basis: 50%;
    }

}
  @media screen and (max-width: 550px){
    .eventImage{
        margin-bottom: 3%;
        flex-basis: 50%;
        margin-left: 5%;
    }
    .aboutEvent{
        padding: 35% 1% 10% 5%;
    }
    .aboutContent{
        opacity: 1;
        flex-basis: 40%;
        text-align: start;
        z-index: 5;
    }
    body{
        margin: 0 ;
    }
    .rules{
        margin: 0 5%;
    }
    .phone{
        flex-basis: 50%;
    }

}

@media screen and (max-width: 450px){
    .eventImage{
        margin-bottom: 3%;
        order: 1;
        flex-basis: 80%;
    }
    .aboutEvent{
        justify-content: center;
        padding: 35% 5% 10% 5%;
    }
    .aboutContent{
        order: 5;
        opacity: 1;
        flex-basis: 90%;
        text-align: start;
        z-index: 5;
    }
    body{
        margin: 0 ;
    }
    .rules{
        margin: 0 5%;
    }
    .phone{
        flex-basis: 50%;
    }

}

@media screen and (max-width: 350px){
    .eventImage{
        margin-bottom: 3%;
        order: 1;
        flex-basis: 80%;
    }
    .aboutEvent{
        padding: 35% 0 10% 0;
        
    }
    .aboutContent{
        order: 5;
        opacity: 1;
        flex-basis: 90%;
        text-align: start;
        z-index: 5;
    }
    body{
        margin: 0 ;
    }
    .rules{
        margin: 0 5%;
    }
    .phone{
        flex-basis: 50%;
    }
}
@media screen and (min-width: 900px){
    .eventImage{
        margin-bottom: 3%;
        flex-basis: 30%;
        height:400px;
        margin-left:0%
    }
    .aboutEvent{
        padding: 20% 5% 10% 5%;
        justify-content: flex-start;
        height: 750px;
    }
  
    .aboutContent{
        opacity: 1;
        flex-basis: 60%;
        text-align: start;
        z-index: 5;
    }
    body{
        margin: 0 ;
    }
    .rules{
        margin: 0 20%;
    }
    .phone{
        flex-basis: 50%;
    }

}